:root {
  --primary-color: #6200ea
  --default-color:#333
  --secondary-color: #03dac6
  --background-color: #f5f5f5
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--default-color)
}

h1, h2, h3 {
  color: var(--primary-color);
}